<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Diárias de locais e funções</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_daily_function_local_path %></li>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Diária</th>
    <th>Função</th>
    <th>Local</th>
    <th width="80">Ações</th>
  </tr>

<% @daily_function_locals.each do |daily_function_local| %>
  <tr>
    <td><%= daily_function_local.daily.daily %></td>
    <td><%= daily_function_local.function.name %></td>
    <td><%= daily_function_local.local.local %></td>
    <td>
      <%= link_to edit_daily_function_local_path(daily_function_local), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to daily_function_local, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

