<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Editar perfíl</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', root_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <%= form_for @user, url: update_user_profile_path, method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: 'autofocus' %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
    <% if @user.user_type_id == 1 %>
      <%= f.label :siape %>
      <%= f.text_field :siape %>
    <% end %>

    <% if @user.user_type_id == 2 %>
      <%= f.label :registration %>
      <%= f.text_field :registration %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>