<h1>Listing travel_expenses</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Justification</th>
    <th>Travel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travel_expenses.each do |travel_expense| %>
  <tr>
    <td><%= travel_expense.price %></td>
    <td><%= travel_expense.justification %></td>
    <td><%= travel_expense.travel %></td>
    <td><%= link_to 'Show', travel_expense %></td>
    <td><%= link_to 'Edit', edit_travel_expense_path(travel_expense) %></td>
    <td><%= link_to 'Destroy', travel_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel expense', new_travel_expense_path %>
