<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="espacamento">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: 'autofocus' %>
  </div>
</div>

<% end %>
<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
