<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Período Letivo: <%= @semester.name%>  <%= @espaco.location_type.name%>: <%= @espaco.name %></a>
    <ul class="nav">
      <li><%= link_to 'Editar', alocation_permanents_editar_path(@id,@semester.id) %></li>
      <li><%= link_to 'Voltar', alocation_permanents_espacos_path(@semester.id) %></li>
    </ul>
  </div>
</div>

 <div class="espacamento">
   <table class="table">
   	<tr>
   		<th>Horário</th>
   		<th><center>Dom</center></th>
  	  <th><center>Seg</center></th>
  	  <th><center>Ter</center></th>
  	  <th><center>Qua</center></th>
  	  <th><center>Qui</center></th>
  	  <th><center>Sex</center></th>
  	  <th><center>Sáb</center></th>

   	</tr>
    <% for i in (0..15) %>
    <tr>
      <th><%= schedules[i] %></th>
      <% for j in (0..6) %>
        	<td><center><%= @array[i][j] %></center></td>
      <% end %>
    </tr>
    <% end %>
   </table>
</div>